 
.main,
.water {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    padding: 10px;
    border: 3px solid #45ceff;
}

.water {
    background: #45ceff;
    overflow: hidden;
    position: relative; /* 使子控件可以绝对定位 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.water::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(209, 209, 209, 0.8);
    border-radius: 40%;
    left: 50%;
    top: 0;
    transform: translate(-50%, var(--y, -35%));
    animation: water 5s linear infinite;
}

@keyframes water {
    100% {
        transform: translate(-50%, var(--y, -35%)) rotate(360deg);
    }
}

/* 子控件的文字样式 */
.water-text {
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    z-index: 10; /* 确保文字显示在波纹的上方 */
    text-align: center;
    position: relative;
     
}
